body {
	text-align: center;
}

button {
	background-color: #a02121;
	margin: 20px;
	color: white;
	font-size: 24px;
	padding: 10px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.game {
	margin: auto;
	width: 400px;
	height: 400px;
	position: relative;
	cursor: crosshair;
	border: 5px solid black;
}

#target {
	display: block;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background-color: #66e4f5;
	position: absolute;
	z-index: 1;
}

#background {
	height: 100%;
	width: 100%;
	background-color: #3b3b3b;
}

#score {
	position: absolute;
	top: 10px;
	right: 10px;
	color: white;
	font-size: 24px;
}